<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>price</th>
                    <th>Category</th>
                    <th>Options</th>
                </tr>
            </thead>
        </table>
    </div>
</div>