<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                {{#each products}}
                <tr>
                    <th>STT</th>
                    <th>Image</th>
                    <th>{{name}}</th>
                    <th>price</th>
                    <th>Category</th>
                    <th>Options</th>
                </tr>
                {{/each}}
            </thead>
        </table>
    </div>
</div>